:root {
  --primary-1:hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --primary-2:hsl(0, 100%, 66%);
  --neutral-1:hsl(0, 0%, 100%);
  --neutral-2:hsl(270, 3%, 87%);
  --neutral-3:hsl(279, 6%, 55%);
  --neutral-4:hsl(278, 68%, 11%);
}
* {
  font-size: 1.1rem;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
#root {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(6, 1fr) .5fr repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}


.form {
   grid-area: 4 / 8 / 11 / 11;
   max-width: 390px;
   min-width: 290px;
   width: 100%;
   height: 365px;
   
   line-height: 40px;
   padding: 10px 10px 15px 10px;
   margin-top: 50px;
  }

  .form input {
    border-radius: 5px;
    border: 1px solid;
  }
  .form p {
    
  }
.side-bar{
  
  min-height: 100vh;
  background-image: url('./Assets/bg-main-desktop.png');
  background-size: cover;
  background-position: center;
  
  grid-area: 1 / 1 / 13 / 5;
}
.front-card{
  background-image: url('./Assets/bg-card-front.png');
  background-size: cover;
  background-position: center;
  max-width: 447px;
  min-width: 399px;
  width: 100%;
  height: 245px;
  border-radius: 10px;
  grid-area: 4 / 3 / 7 / 6;
  padding: 30px;
  position: relative;
  
  color: var(--neutral-1);
}
.front-card p{
  font-size: 1rem;
  letter-spacing: 2px;
}
.front-card svg{
 
  margin-bottom: 20px;
  bottom: 0;
}
.front-card h1 {
  font-size: 1.4rem;
  margin-top: 35px;
  letter-spacing: 5px;
  font-weight: 500;
  
}
#name{
  font-size: 0.9rem;
  position: absolute;
  bottom: 30px;
}
#date{
  font-size: .9rem;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.back-card{
  background-image: url('./Assets/bg-card-back.png');
  background-size: cover;
  background-position: center;
  max-width: 447px;
  min-width: 399px;
  width: 100%;
  height: 245px;
  border-radius: 10px;
  grid-area: 8 / 4 / 11 / 7;
  position: relative;
  color: var(--neutral-1);
}
.back-card p {
  position: absolute;
  top: 108px;
  right: 2.5em;
  letter-spacing: 3px ;

}
.form p {
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-top: 15px;
}
.exp_cvc_holder{
  display: flex;
}
.exp{
  width: 230px;
}
.exp input{
  width: 40%;
}
.exp input:last-child{
  margin-left: 10px;
}
.cvc input {
  width: 100%;
}
input{
  height: 45px;
  width: 100%;
  padding-left: 10px;
}
button{
  width: 100%;
  height: 55px;
  margin-top: 40px;
  border: 1px solid ;
  border-radius: 10px;
  background-color: var(--neutral-4);
  color: var(--neutral-1);
}
/*adding media qua*/
@media screen and (max-width: 850px) {
  #root {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, .25fr) repeat(3, 1fr);
  }

  .front-card { 
    grid-area: 4 / 2 / 8 / 6;
    max-width: 280px;
    width: 100%;
    height: 230px;
  }
  .back-card { 
    grid-area: 2 / 3 / 6 / 6;
    max-width: 280px;
    width: 100%;
     height:230px;
    border-radius: 10px;
  }
  .back-card p {
  top: 100px;
}
  .form {
    grid-area: 7 / 2 / 10 / 6;
    max-width: 540px;
    width: 100%;
  }
  .side-bar {
    grid-area: 1 / 1 / 7 / 7;
    min-height: 240px;
  background-image: url('./Assets/bg-main-mobile.png');
  
  }
}
